*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 0 auto;
  display: flex;
  padding: 133px 60px;
  gap: 30px;
  min-width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  inset: 0;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  overflow-y: scroll;
}

