*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0;
}

fieldset,
input {
  border: none;
}

ul,
ol {
  list-style: none;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  gap: 30px;
  min-width: 1140px;
  margin: 0 auto;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  background-color: #000;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #FFF;
}

.search-form__textfield {
  min-width: 225px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding: 2px 0;
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  padding: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield:active {
  outline: 1px solid #FFF;
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
}

/*input[type="checkbox"] + .search-form__pseudo-checkbox {
  
}*/

.search-form__label:hover .search-form__pseudo-checkbox ~ .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  box-shadow: inset 0 0 0 1px #000;
  background-color: #FFF;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  height: 34px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:focus{
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  flex-grow: 1;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: hidden auto;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 200px;
  padding-right: 5px;
}

.content__video-card-title {
  margin-bottom: 6px;
  overflow: hidden;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.content__card-link {
  display: block;
  padding: 2px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  border: 1px solid #FFF;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}